body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
            max-width: 800px;
            margin: 0 auto;
            color: rgba(0, 86, 255, 0.81);
            font-family: times new roman;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
            
            }

.container1{
                
                padding-left: 600px;
            } 